*.opensdf
*.sdf
*.suo
*.user
*.filters
*.obj
*.exe
ipch/*
*/Debug/*
*/Release/*
Debug/*
Release/*
.vs/*
build/*

CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeTmp/
cmake_install.cmake
Makefile
CMakeFiles/
CMakeScripts/
CMakeTmp/
CMakeCache.txt
