*.opensdf
*.sdf
*.suo
*.user
*.filters
*.obj
*.exe
ipch/*
*/Debug/*
*/Release/*
Debug/*
Release/*
.vs/*
build/*
.vscode/*
**/CMakeCache.txt
**/CMakeFiles/
**/CMakeScripts/
**/cmake_install.cmake
**/Makefile
**/CTestTestfile.cmake