.vs/*
build/*
.vscode/*

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
build/
*.make
*.depend
*.d
*.ts
*.dir

*.o
*.a
*.so
*.out
*.exe
*.dll
*.dylib

.vscode/
.idea/
.DS_Store
Thumbs.db